extends ./layout.pug

block head
  title deadmann - Dead Man's Switch Network

block content
  h1 What Is deadmann?
  .alert deadmann is currently in Beta and is only an experiment.  Please keep that in mind and be careful before using it.
  .text
    p deadmann is an online dead man's switch network.  Whenever a switch (known as a deadmann node) has not reauthenticated after a set period of time, it expires and an alert message is broadcasted to any deadmann node that communicates with it.  Node to node connections have perfect foward secrecy with strong encryption.
    p All connections to any deadmann node is done over tor.  Tor provides deadmann with additional end-to-end encryption along with self validation and anonymity for all nodes.  Just run deadmann on any computer connected to the internet.  No configuration with the network firewall is necessary.  The Raspberry Pi 3 makes for a really great machine to run a deadmann node on, as you can have one plugged into any outlet close enough to a stable wifi internet connection.
    p Any further details can be found in the 
      a(href='https://github.com/PawnTakesQueen/deadmann/blob/beta/README.md', target='_blank') README
      |  file.
