extends ./layout.pug

block head
  title deadmann - Roadmap

block content
  h1 Roadmap
  .text
    p
      b The following are features expected to be added to deadmann before the Beta release:
    ul
      li Add at rest encryption and manual memory handling for sensitive information
      li
        span.strike Let users modify deadmann ID list file or expired list file from HTTP interface
        |  (Finished)
      li
        span.strike Allow users to read and delete alert messages from expired deadmann nodes
        |  (Finished)
    p Progress on the roadmap can be found at 
      a(href='https://github.com/PawnTakesQueen/deadmann/projects/2', target='_blank') GitHub Projects
      | .
